*{
    box-sizing: border-box;
}

body{
display: grid;
}

h1,
h2,
h3,
h4,
p,
div,
body,
a,
span {
    margin: 0;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

span, input{
    display: block;
}

