@import "../css/global.css";


/* utilitários */
@import "./utilitários/cores.css";
@import "./utilitários/header.css";
@import "./utilitários/tipografia.css";
@import "utilitários/componentes.css";