.introducao{
    display: grid;
    place-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    box-sizing: border-box;

}

.introducao-bg{
background-color: rgba(34, 11, 0, 0.03);
}

.introducao > h1{
max-width: 15ch;
}