.introducao{
    display: grid;
    place-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box;
    row-gap: 10px;
}

.introducao-bg{
background-color: rgba(34, 11, 0, 0.03);
}

.introducao > h1{
max-width: 15ch;
text-align: center;
font-family: 'Rubik', sans-serif;
font-weight: 500;
font-size: 2.5rem;
}