.introducao{
    display: grid;
    place-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box;
    row-gap: 10px;
}

.introducao-bg{
background-color: rgba(34, 11, 0, 0.03);
}

.introducao > h1{
max-width: 15ch;
text-align: center;
font-family: 'Rubik', sans-serif;
font-weight: 500;
font-size: 2.5rem;
}


@media (max-width: 850px){

    .introducao > h1{
        font-size: 2rem;
    }

    .introducao div > img{  
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 600px){

    .introducao > h1{
        font-size: 1.75rem;
    }

    .introducao div > img{  
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 350px){

    .introducao > h1{
        font-size: 1.5rem;
    }

    .introducao div > img{  
        width: 60px;
        height: 60px;
    }
}