/* CABEÇALHOS DO MAIN */

.main-home {
    margin-bottom: 125px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 47px;
    padding-bottom: 40px;
    align-items: center;
}

.main-header h2 {
    color: var(--cor-5);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}

.main-header a {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: underline;
    align-self: self-end;
}

.main-content {
    column-gap: 0px;
    row-gap: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}


/*LISTA DE BIOGRAFIAS*/

.thumb-container {
    position: relative;
    width: 280px;
    height: 400px;
    background-color: rgba(255, 217, 171, 0.5);
    border-radius: 5px;
}

.thumb-container a {
    height: inherit;
    width: inherit;
}

.thumb-titulo {
    background-color: var(--cor-5);
    display: grid;
    place-content: center;
    position: absolute;
    height: 38px;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -38px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.thumb-titulo span {
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
    max-width: 25ch;
}

@media (max-width: 1250px) {

    body#home .container {
        max-width: 850px;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .main-header a {
        align-self: center;
        font-size: 1.25rem;
    }

    .main-content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;

    }

    .main-home {
        margin-bottom: 60px;
    }
}

@media (max-width: 850px) {

    .thumb-container {
        width: 240px;
        height: 350px;
    }

}

@media (max-width: 650px) {


    .thumb-container {
        width: 200px;
        height: 250px;
    }

    .main-home {
        margin-bottom: 40px;
    }

}

@media (max-width: 520px) {

    .main-header h2{
    font-size: 2rem;
    }

    .main-header a{   
        font-size: 1rem;
    }


    .main-content {
        display: flex;
        flex-wrap: wrap ;
        row-gap: 0px;
        column-gap: 90px;
    }

    .itemList {
        flex-basis: calc(50% - 10px);
        margin: 5px;
      }

    .thumb-container {
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 0;
    }


    .thumb-container a {
        display: flex;
        place-content: center;
        ;
    }

    .thumb-titulo {
        color: black;
        position: initial;
        height: initial;
        margin-top: 0px;
        background-color: transparent;
    }

    .thumb-titulo>span {
        color: inherit;
        text-decoration: underline;
        padding: 5px;
    }
}
/* 
@media (max-width: 500px) {

    .thumb-container {
        width: 200px;
        height: 50px;
        background-color: var(--cor-5);
    }

    .main-content {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .thumb-titulo {
        display: none;
    }
} */