.header {
    display: flex;
    height: 100px;
    background-color: var(--cor-5);
    justify-content: space-between;
}

.header-list {
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
}