body#biografias>div.container {
    padding-top: 80px;
    display: grid;
    gap: 50px;
}



/* BLOCO-1 */

.bloco-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.bio-infos {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}

.bio-img {
    width: 250px;
    height: 330px;
    justify-self: center;
    background-color: rgba(255, 217, 171, 0.5);
    ;
}

.bio-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bio-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}


.bio-resumo>h2 {
    margin-bottom: 15px;
}


.bio-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.bloco-2>h2 {
    padding-left: 80px;
}

.bio-texto {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* BLOCO-2 */

.bloco-2 {
    display: grid;
}

.bio-imgG {
    justify-self: center;
    display: grid;
    place-content: center;
    width: 960px;
    height: 450px;
    padding: 20px;
}

.img-exemplo {
    background-color: rgba(255, 217, 171, 0.5);
    width: 920px;
    height: 410px;
}

/* BLOCO-3 */
.bloco-3 {
    display: grid;
    gap: 20px;
    padding-bottom: 50px;
}

@media (max-width: 1250px) {

    .bio-img {
        width: 200px;
        height: 280px;
    }

    .bio-imgG {
        width: 660px;
        height: 350px;
    }

    .img-exemplo {
        width: 620px;
        height: 310px;
    }
}

@media (max-width: 950px) {

    .bloco-1{
        grid-template-columns: 1fr;
    }

    .bio-img {
        display: none;
    }

    .bio-infos h1 {
        font-size: 1.5rem;
    }

    .bio-infos span {
        font-size: 1rem;
    }

    body#biografias .container h2 {
        font-size: 1.5rem;
    }

    .bio-texto {
        font-size: 1rem;
    }

}